<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManager</title>
    <%= render :partial => 'shared/includes' %>
  </head>
  <body>

  <header>
    <p>
      <%= link_to "Projects", projects_path %>
      <%= link_to "People", people_path     %>
      <%= link_to "Statuses", statuses_path %>
			<%= link_to "Sessions", sessions_path%>
    </p>
  </header>

  <% if notice %><p id="notice"><%= notice %></p><% end %>
  <% if alert %><p id="alert"><%= alert %></p><% end %>

  <%= yield %>

  </body>
</html>
